* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f6f6f6;
  }

  .sidebar {
    width: 240px;
    background: #2e3543;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 16px 10px;
    box-shadow: 5px 4px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

  .logo {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
  }

  .nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .nav a {
    text-decoration: none;
    color: #e0e0e0;
    padding: 10px 14px;
    border-radius: 8px;
    transition: 0.2s;
    ;
  }
 .sidebar .nav .foot {
  margin-top: auto;
  background: #e04d4d;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  transition: 0.3s;
}
.nav a:hover {
  background: #1a75d2;
}